# VsCode
## history plugin
.history
.gitlab/
/.idea/
ops/
bridgeKey/
aws-deployment
aws-deployment/environments/federator/.terraform
aws-deployment/environments/federator/terraform.tfstate
aws-deployment/environments/federator/terraform.tfstate.backup
aws-deployment/environments/federator/.terraform.tfstate.lock.info
federator-env/testnet-BSC-RSK/federator.key
token-converter/
token-bridge/bridge/test_V0/
READMEDavid.md