*.key
build
.openzeppelin/.session
.openzeppelin/dev-*.json
.openzeppelin/kovan.json
.openzeppelin/mainnet.json
.openzeppelin/ropsten.json
.openzeppelin/rinkeby.json
.openzeppelin/btestnet.json

coverage/
coverage.json
.coverage_contracts
.coverage_artifacts

.openzeppelin\.session
migrations_V0/
contracts_V0/
scripts_V0/
test_V0
test/Bridge_Integeration.js